<!DOCTYPE html>
<html>
  <head>
    <title>DIETA Manager</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <%- include('partial/navbar') %>
  <body>
    <div class="container">
      <h1 class="text-center my-3">Lista e dietave</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Vakti</th>
            <th>Emri</th>
            <th>Kalorite</th>
            <th>Karbohidrate</th>
            <th>Fiber</th>
            <th>Protein</th>
            <th>Yndyre</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < nutrients.length; i++) { %>
          <tr>
            <td><%= nutrients[i].Id_dieta %></td>
            <td><%= nutrients[i].Vakti %></td>
            <td><%= nutrients[i].Emri %></td>
            <td><%= nutrients[i].Kalori %></td>
            <td><%= nutrients[i].Karbohidrate %></td>
            <td><%= nutrients[i].Fibra %></td>
            <td><%= nutrients[i].Proteina %></td>
            <td><%= nutrients[i].Yndyrna %></td>
            <td>
              <a
                href="/edit/<%= nutrients[i].Id_dieta %>"
                class="btn btn-primary"
                >Edito</a
              >

              <a
                href="/delete/<%= nutrients[i].Id_dieta %>"
                class="btn btn-danger"
                >Fshi</a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
  </body>
</html>
